body{
    background-image: url(maxresdefault.jpg);
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.logo img{
    width: 100px;
border-radius :500px;

}